*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #f8f9fa;
  padding: 10px 5px;
}

header > h1 {
  font-size: 60px;
}

.my-card{
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 10px;
}